*{
    margin: 0;
    padding: 0;
}


.container{
    margin: 50px auto;
}
.grid{
    width: 1000px;
    height: 1000px;
    background-color: aqua;
    display: grid;     
    justify-content: center;
    margin: 0px auto;
}
.onePixel{
    height: auto;
    width: auto;
    background-color: gray;
    border: 1px solid black;    
}

.activatedPixel{
    background-color: white;
}