*{
    margin: 0;
    padding: 0;
}

.setSize{
    font-size: large;
    padding: 8px 16px;
    margin: 10px auto;
}

.container{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}
.grid{
    width: 800px;
    height: 800px;
    background-color: aqua;
    display: grid;     
    justify-content: center;
    margin: 0px auto;
    border: 4px solid black;
}

.onePixel{
    height: auto;
    width: auto;
    background-color: gray;    
}

.activatedPixel{
    background-color: white;
}